<h1>以下の内容で投稿する</h1>

<%= form_with(model: @instagram, url:instagrams_path, local: true) do |form| %>
<%= form.hidden_field :content %>
<%= form.hidden_field :image_cache %>
<p>本文：<%= @instagram.content %></p>
<p>画像：<%= image_tag(@instagram.image) %></p>

<p><%= form.submit "シェア",class: "btn btn-primary btn-normal"%></p>
<% end %>

<%= form_with(model: @instagram, url:new_instagram_path, local: true, method: 'get') do |form| %>
<%= form.hidden_field :content %>
<%= form.hidden_field :image_cache %>
<%= form.submit "もどる",name: 'back' %>
<% end %>
